<!--
  Generated template for the JugadoresPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <div text-center><ion-title>jugadores</ion-title></div>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <img class="card-background-page" src="../../assets/imgs/crvza.png"/>

    <form (ngSubmit)="saveJug()">

        <ion-item>
            <ion-label>Apodo</ion-label>
            <ion-input type="text" [(ngModel)]="user.apodo" name="apodo"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Nombre</ion-label>
            <ion-input type="text" [(ngModel)]="user.nombre" name="nombre"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Apellido</ion-label>
            <ion-input type="text" [(ngModel)]="user.apellido" name="apellido"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Fecha de nacimiento</ion-label>
            <ion-input type="date" [(ngModel)]="user.fecha" name="fecha"></ion-input>
        </ion-item>
        <button ion-button icon-only type="submit" >
            <ion-icon name="add-circle"></ion-icon>
        </button>
    </form>
    <div margin>
        <ion-list  *ngIf="jugadores?.data.length > 0">
           <ion-item *ngFor="let jugador of jugadores?.data">
                <ion-avatar item-start>
                    <img src="../../assets/imgs/usuario.png">
                </ion-avatar>
                <p>{{jugador.apodo}}</p>
                <p>{{jugador.nombre}} {{jugador.apellido}}
                    <ion-icon name="close-circle" (click)="deleteJug(jugador.id)"></ion-icon>
                </p>

            </ion-item>
        </ion-list>
    </div>
</ion-content>
