page-inicio {

}

.card-background-page2{
  height: 100%;
  width: 100%;
}
.fondort{
  top: 40%;
  left: 30%;
  height: 60%;
  width: 65%;
  position: absolute;
  background: transparent;
}
.fondoicon{
  top: 10%;
  left: 10%;
  height: 10%;
  width: 17%;
  position: absolute;
  background: transparent;
}
.fondoicon2{
  top: 30%;
  left: 10%;
  height: 10%;
  width: 17%;
  position: absolute;
  background: transparent;
}
.boton1{

  color:#e2138f;
}
